.App {
  text-align: center;
}

.btn-home {
  margin-left: 53%;
  margin-bottom: 12%;
}

.challenge {
  font-size:xx-large;
  margin-top: 15%;
  margin-left: 25%;
}

.forms {
  display: flex;
  flex-direction: column;
}

.header_image {
  min-width: 100%;
  height: 100px;
}

.header_messages{
  display: flex;
  margin: 0 90px;
  justify-content: space-between;
}

.list {
  margin-top: -10%;
  margin-left: 25%;
}

.login_image{
  margin-top: 10%;
  margin-left: 29%;
  border-radius: 20%;
}

.main-form {
  margin-left: 28%;
  margin-bottom: 5%;
}

.mainLogin {
  margin-top: 5%;
  margin-left: 40%;
  margin-bottom: 10%;
}

.message {
  font-size: x-large;
  font-weight: bolder;
}

.SmarttBot_image {
  margin-left: 42%;
}

.site_name {
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 40%;
  margin-bottom: 5%;
}

.table-light {
  background-color: rgb(211, 205, 205);
  font-weight: lighter;
  padding-left: 15px;
}
